/*********************************
 * margin 
 *********************************/

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}


/*********************************
 * padding 
 *********************************/

.pd00 {
    padding: 0px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pr10 {
    padding-bottom: 10px;
}

.pr20 {
    padding-bottom: 20px;
}

.pr30 {
    padding-bottom: 30px;
}

.pr40 {
    padding-bottom: 40px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}


/*********************************
 * text-color
 *********************************/

.tcWhite {
    color: white;
}

.tcBlack {
    color: black;
}

.tcBlue {
    color: blue;
}


/*********************************
 * select box
 *********************************/

.selComponents {
    width: 300px;
    padding: .8em .5em;
    border: 1px solid #999999;
    border-radius: 7px;
}